.board {
    display: table;
    margin: 0 400px 0 400px;
}

.row {
    display: table-row;
    width: 600px;
    height: 150px;
    margin: auto;
}

.box {
    display: table-cell;
    text-align: center;
    font-size: 50pt;
    font-weight: bold;
    padding: 15px;
    width: 200px;
    height: 150px;
    justify-content: center;
    border: 5px solid black;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: center;
}

h1 {
    background-color: rgb(236, 6, 6);
    color: antiquewhite;
    padding: 20px;
}

h5 {
    padding-bottom: 20px;
}

h4 span {
    background-color: aquamarine;
}

.row {
    background-color: rgb(226, 214, 43);
}